<main class="contenedor panel-administracion">
   <h1><%= nombrePagina  %></h1>
    
   <div class="contenedor-botones">
       <a href="/nuevo-grupo" class="btn btn-amarillo">Nuevo Grupo</a>
       <a href="/nuevo-meeti" class="btn btn-azul">Nuevo Meeti</a>
       <a href="/editar-perfil" class="btn btn-rosa">Editar Perfil</a>
       <a href="/imagen-perfil" class="btn btn-amarillo">Imagen Perfil</a>
    </div>
    <divc class="seccion-admin">
        <h2>Tus eventos</h2>
        <ul>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Viernes, 19 de Julio de 2024</p>
                
                    <h3>E-commerce en Cordoba</h3>
                    <small>23 Asistentes</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Asistentes</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
        </ul>
        <ul>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Sabado, 20 de Julio de 2024</p>
                
                    <h3>Criptomonedas en Cordoba</h3>
                    <small>23 Asistentes</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Asistentes</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="seccion-admin">
        <h2>Tus Meeti's </h2>
        <ul>
            <li>
                <div class="informacion-admin">
                     <h3>Cordoba Cs 2</h3>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Imagen</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
        </ul>
        <ul>
            <li>
                <div class="informacion-admin">
                     <h3>Cordoba Minecraft</h3>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Imagen</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
        </ul>
    </div>

</main>